<nav class="navbar navbar-dark" role="navigation" style="background-color: #e3f2fd;>
    <div class="container-fluid">

        <div class="navbar-header">
            <a href="/">
                 <img id = "buzzimg" border="0" alt="Buzz" src="/images/Buzz.png" width="50" height="50">

            </a>
            <a class="navbar-brand" href="/">
                <span id ="glyph" class="glyphicon glyphicon glyphicon-flash"></span>
            </a>
        </div>

        <ul id ="leftnavbar" class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul id="rightnavbar" class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span id = "signup" class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span id = "login" class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
