 <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<div id = "slide" class="w3-content w3-section" style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/1.jpg" style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/2.jpg"  style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/3.png" style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/4.jpg" style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/5.jpg" style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/6.jpg" style="width:126%; height:25em !important">
  <img class="mySlides w3-animate-right" src="/images/7.png" style="width:126%; height:25em !important">
</div>

<script src="/javascripts/slideshow.js"></script> 

