<!DOCTYPE html>
<html>
<head>
	<title> My Site</title>

 <% include ./partials/head %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/stylesheets/login_style.css">

<link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
   


<script src="/javascripts/index.js"></script> 
<header  id = "loginheader" style="padding-bottom: 76px;">
        <% include ./partials/header %>
</header> 

</head>
<body class="container">
<center>
  <br><br>
  <h2>Login Form</h2>  
</center>

<div class="container">
  <div class="jumbotron">

    <form action="" name = "form1" method="POST" onsubmit=" return check()">
      <div class="imgcontainer">
        <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>

  
      <center>
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required><br>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required><br>
        <input type="checkbox" checked="checked" style="margin-left: 53px;"> Remember me
         <span class="psw" style="margin-left: -27px;">Forgot <a href="#">password?</a></span>  
        <br><br>
        <button id = "loginsubmit" type="submit" >Login</button><br>
        
      </center>
  
  </div>
  <center>
    <button type="button" class="cancelbtn">Cancel</button>
   
  </center>
 
  
 </form>
 </div>
</div>
</body>
</html>