<!DOCTYPE html>

<html lang="en">

<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/head %>
  <script type="text/javascript">
   

    function foo(){
      document.getElementById("uploadBtn").onchange = function () {
      document.getElementById("uploadFile").value = this.value;
      };
      document.getElementById("uploadBtn").click();
    }
  </script>

</head>

<body class="container">
<header>
        <% include ./partials/header %>
</header>   

<div class="jumbatron">
<div class="form-style-5" allign = "left">
<form action="/upload" method = 'POST' enctype="multipart/form-data">
<fieldset>
<legend><span class="number">1</span> Code Info</legend>
<input type="text" name="name" placeholder="Your Name *" required="">
<input type="email" name="email" placeholder="Your Email *" required="">
<label for="job">Coding Language:</label>
<select id="lang" name="code">
<optgroup>
  <option value="C">C</option>
  <option value="C++">C++</option>
  <option value="Python">Python</option>
  <option value="Java">Java</option>
  <option value="C-hash">C#</option>
  <option value="Haskell">Haskell</option>
  <option value="Erlang">Erlang</option>
  <option value="Scala">Scala</option>
  <option value="Ocaml">Ocaml</option>
  <option value="other">Other</option>
</optgroup>
</select>
<textarea name="about_code" placeholder="About your Application/ Code" required=""></textarea>
</fieldset>
<!--<label for="job">Interests:</label>
<select id="job" name="field4">
<optgroup label="Indoors">
  <option value="fishkeeping">Fishkeeping</option>
  <option value="reading">Reading</option>
  <option value="boxing">Boxing</option>
  <option value="debate">Debate</option>
  <option value="gaming">Gaming</option>
  <option value="snooker">Snooker</option>
  <option value="other_indoor">Other</option>
</optgroup>
<optgroup label="Outdoors">
  <option value="football">Football</option>
  <option value="swimming">Swimming</option>
  <option value="fishing">Fishing</option>
  <option value="climbing">Climbing</option>
  <option value="cycling">Cycling</option>
  <option value="other_outdoor">Other</option>
</optgroup>
</select> -->     

<fieldset>
<legend><span class="number">2</span> Additional Info</legend>
<input type="text" name="fblink" placeholder="Your facebook link">
<input type="text" name="gitlink" placeholder="Your GitHub link">

<textarea name="about" placeholder="About Yourself"></textarea><br>
<input id="uploadFile" placeholder="Choose File" disabled="disabled" />
<input name = "file" id="uploadBtn" type="file" class="hidden" />
<div class="button" id="fileupload" onclick="foo()">
    <span>Upload</span>    
</div><br>
<br>

</fieldset>
<input type="submit" value="Submit" allign = "left" />
</form>
</div>
 </div>   
</body>
</html>



